<%= render 'header' %>

<div class="container">
  <% @posts.each do |post| %>
    <div class="posts">
      <div class="date"><h4><%= link_to post.created_at.strftime("%d %b. %Y"), post %></h4></div>
        <h1><%= post.title %></h1>
          <h6>Written by: <%= link_to post.author_name, 'mailto:anthony.panepinto101@gmail.com' %></h6>
   
          <%= link_to truncate(post.body, :length => 250, :omission => '... (continued)'), post %><br /><br />
          Tags: <%= raw post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
<br /><br />
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" if can? :update, post %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" if can? :destroy, post %>
    </div>
  <% end %>

<div class="sidebox">
<% if notice.nil? %>

<%else%> 
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%end%>
  <div class="avatar"><%= image_tag avatar_url('anthony.panepinto101@gmail.com') %></div>
  <h2> <%= link_to 'Anthony', 'mailto:anthony.panepinto101@gmail.com' %></h2>
  <h4>Toronto, ON, Canada</h4>
<p>I’m a 22 year old entrepreneur. <br /> A Private Equity Analyst turned Programmer. Founder of <%= link_to 'LeapFM', 'http://www.leapfm.com' %> ('2013'). My hobbies are music-production, basketball, cooking, and movies.</p>

<a href="https://twitter.com/maineONEder" class="social-button social-button-tw" target="_blank">Follow me on Twitter</a>
<br /><br />
<h4>Tags</h4>
<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path, class: "btn btn-warning" if can? :create, @post  %>
</div>
  </div>  
